[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
*{
    font-family:'Courier';
}

.modify{
    opacity:0.3;
}
.modify:hover {
    cursor:pointer;
    opacity:0.6;
}

.day {
    display:inline-block; 
    position: relative;
    vertical-align:text-top; 
    height:40vh; 
    overflow-y: scroll;
    width:20vw; 
    font-size:1.5vmax; 
    padding:5px; 
    margin: none;
    border-top: 2px solid black;   
}

.day-items {
    list-style:none;
    padding-left: 12px;
}

.item {
    text-indent:-1em; 
    font-size:1.2vmax;   
}

.form-wrapper{
    position: absolute;
    bottom:10px;
}

.add-form {

}

.add {
    display:inline   
}

.input-field {
    border: 0;
    outline: 0;
    border-bottom: 2px solid darkgray;
}

.input-field:focus {
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
}